
<div>
  <label>Horloge : {{timer}}</label>
</div>

<div>
  <label>US-25: Evenements inatendues</label>
  <button (click)="startAndStopFireworks()"> Fireworks</button>
</div>

<div>
  <label>US-8: Manifestation</label>
  <button (click)="triggerManifestation()"> Trigger Manifestation</button>
  <button (click)="clearManifestation()"> Clear All Manifestations</button>
</div>

<div>
  <label>US-16: Jour/Nuit</label>
  <button (click)="toggleDayNightMode()"> Toggle Day/Night mode</button>
</div>

<div *ngIf="mapResponse != null" style="width: 2250px">
  <span *ngFor="let tabSquare of mapResponse?.square; let y = index">
    <span *ngIf="tabSquare != null">
      <span *ngFor="let square of tabSquare; let x = index" class="spanLine">
        <img *ngIf="square.image != undefined" alt="image" class="image1" src="{{square.image}}"/>
        <img *ngIf="avatarList !== undefined" alt="image" class="image2" src="{{display2(x, y, avatarList)}}" />
      </span>
    </span>
    <br/>
  </span>
</div>




