
<div class="margin-left-10">
  <label>Horloge : {{timer}}</label>
</div>

<div class="margin-left-10">
  <button type="button" (click)="startAndStopFireworks()" class="btn btn-primary btn-sm">Fireworks</button>
  <button type="button" (click)="triggerManifestation()" class="btn btn-primary btn-sm">Trigger Manifestation</button>
  <button type="button" (click)="clearManifestation()" class="btn btn-primary btn-sm">Clear All Manifestations</button>
  <button type="button" (click)="toggleDayNightMode()" class="btn btn-primary btn-sm">Toggle Day/Night mode</button>
</div>

<div class="margin-left-10">
  <button (click)="determinePath()" class="btn btn-primary btn-sm"> Create path to OnePoint</button>
  <button (click)="nextMove()" class="btn btn-primary btn-sm"> Click here to move the avatar</button>
</div>

<div *ngIf="mapResponse != null" style="width: 2250px">
  <span *ngFor="let tabSquare of mapResponse?.square; let y = index">
    <span *ngIf="tabSquare != null">
      <span *ngFor="let square of tabSquare; let x = index" class="spanLine">
        <img *ngIf="square.image != undefined" alt="image" class="image1" src="{{square.image}}"/>
        <img *ngIf="avatarList !== undefined" alt="image" class="image2" src="{{display2(x, y, avatarList)}}" />
      </span>
    </span>
    <br/>
  </span>
</div>




